body {
    background-image: url(https://wallpapercave.com/wp/wp6471322.jpg);
    background-size: cover;
    cursor: default;
}

nav {
    background:rgba(238, 238, 238, 0.274);
    position: absolute;
    width: 99.5%;
    margin-bottom: 450px;
    z-index: 10;
}

nav ul:after {
    content: "";
    display: inline-block;
    clear: both;
}

nav li {
    list-style-type: none;
    margin: 0 10px;
    font-family: 'Abril Fatface';
    display: inline-block;
}

ul {
    text-align:center;
    margin: 10px;
}

li:hover {
    color: rgb(255, 255, 255);
}


h1 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-align:center;
    font-family: 'Sacramento', cursive;
}

.heading {
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 10px;
}

a {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    margin: 90px 30px;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 255, 255);
}

a:link {
    text-decoration: none;
    cursor: pointer;
}

tr:hover {
    background-color: white;
}

p {
    color: white;
}

th {
    font-weight: bolder
}

.table {
    font-family: 'Abril Fatface';
    margin-left:auto; 
    margin-right:auto;
    color: rgb(128, 144, 235);
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

.selected {
    font-family: 'Abril Fatface';
    margin-left:auto; 
    margin-right:auto;
    color:rgb(128, 144, 235);
}

.p {
    font-family: 'Abril Fatface';
    color:rgb(128, 144, 235);
    text-align:center;
}

td {
    font-weight: lighter;
}

div.rectangle {
    display: inline-block;
    width: 280px;
    height: 50px;
    font-family: 'Abril Fatface';
    color:rgb(128, 144, 235);
    padding-left: 320;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
  }

  .wrapper > div {
    background: rgba(238, 238, 238, 0.397);
    padding:1em;
  }

  .wrapper > div:nth-child(odd) {
    background: rgba(238, 238, 238, 0.397);
  }